@use "./modules.scss";

* {
  margin: 0;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
body {
  background-image: url("https://media.giphy.com/media/fAbixqroYHkKFYNTCa/giphy.gif");
  background-size: cover;
  background-position: center;
}

#title {
  @include modules.titleFormat(100px);
}
#instruction {
  @include modules.titleFormat(30px);
}

.fields {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.input {
  @include modules.boxFormat(#c79a46);
  &__text {
    @include modules.textFormat;
  }
}

textarea::placeholder {
  color: black;
}
textarea:focus::placeholder {
  color: transparent;
}

.morse {
  @include modules.boxFormat(#fbdca3);
  &__text {
    @include modules.textFormat;
  }
}

.btns {
  display: flex;
  justify-content: center;

  &__btn {
    background-color: #f9c057;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 30px;
  }
}
#empty {
  width: 100px;
}
